@charset "UTF-8";

#wrap {
	width:1000px;
	margin:auto;
}


.join {
	border-radius: 10px;	
}

.join-box {
	width:400px;
	 
}


.box {
	width:300px;
}

.signin {
	height:70px;
	border-radius: 10px;
}

footer {	
	height:60px;
}